.menu-paso {
    background-color: magenta;
    border: 2px solid rgba(255, 255, 255, 0.89);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;

}

li a:hover {
    background-color: rgb(177, 174, 174);
}

.menu-generales {
    background-color: skyblue;
    border: 2px solid rgba(255, 255, 255, 0.89);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.container-urnas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-around;
    align-items: center;

}

.header-page {
    background-color: #18a0fb;
}

.logo {
    padding: 5px;
    margin: 10px;
    width: 200px;
}

.menu {
    padding: 5px;
    background-color: #333;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    flex-direction: row;
}

.menu div {
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    background-color: #333;
    border: 1px solid rgba(255, 255, 255, 0.89);
    border-radius: 15px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;

    justify-content: flex-start;
    padding: 10px;
}


.imagen-datos {
    margin: 15px;
    width: 350px;
    

}

#sec-titulo {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;

}

.resultado {
    margin: 20px;
    width: 500px;
    height: 100px;
}

.paso-div,
.generales-div {
    width: 400px;
    height: 100px;
    border: 10px;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-family: #fff;
    font-size: 28px;
    text-decoration: none;
}

.boton-generales {
    color: white;


}

.boton-generales a:visited {
    color: white;

}

.boton-paso:visited {
    color: white;
}

a {
    text-decoration: none;
}
